@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
}
h1, h2 {
  font-family: 'Futura', sans-serif;
  font-weight: 800;
  color: #65C3C8;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3{
  font-family: 'Futura', sans-serif;
  font-weight: 500;
  color: #581c87;
  margin-top: 10px;
  margin-bottom: 10px;


}
.creatica{
  font-family: 'Merriweather', serif;
  font-weight: 800;
  color: #20D3B0
}

.subtextLogin
{
  font-weight: 400;
  font-size: 10px;
  color: #7e7e7e;
  text-align: center;
  justify-content: center;
  text-decoration: inherit;
}
.forgotPass {
  font-weight: 400;
  font-size: 10px;
  color: #7e7e7e;
}
.icon-container {
  display: flex;
  justify-content: flex-end;
}
.btn-wide {
  width: 60%;
}
.stepsList{
  font-family:  'Raleway', sans-serif;
  font-weight: 500;
  color: #65C3C8;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  position: relative;
}

.btn-trash {
  position: absolute; 
  bottom: 0;
  right: 0;
  border: none;
}
.rellevance {
  position: absolute; 
  top: 0;
  left: 0;
}
.time {
  position: absolute; 
  top: 10px;
  right: 10px;
}
.textTaskCard {
  text-align: start;
  background-color: transparent;
}
.image {
  max-width: 100%;
  max-height: 500px;
}

.containerRegister {
  position: relative;
}

.mobile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.desktop-image {
  float: left;
  margin-right: 20px;
  width: 50%;
  height: auto;
  object-fit: cover;
}

.formRegister {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  z-index: 1;
}
